@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


h1,
p,
.add {
  font-family: "Montserrat", sans-serif;
}

p,
.add {
  font-size: 14px;
  line-height: 23px;
}

h1 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 5px;
  font-weight: 500;
}

h1,
p,
.old-price {
  color: hsl(228, 12%, 48%);
}
h2,
.price, .attribution{
  font-family: "Fraunces", serif;
}
h2 {
  color: hsl(212, 21%, 14%);
}

h2,
.sale-price {
  font-size: 32px;
}



main {
    width: 100%;
    min-height: 100vh;
    padding: 40px 0;
    background-color: hsl(30, 38%, 92%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    width: 343px;
    height: 611px;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .img {
    height: 240px;
    background-image: url(images/image-product-mobile.jpg);
    background-size: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .txt {
    height: 371px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.price {
  display: inline-flex;
  align-items: center;
}

.sale-price {
  color: hsl(158, 36%, 37%);
  line-height: 32px;
  font-weight: 600;
}

.old-price {
  font-size: 13px;
  line-height: 23px;
  text-decoration: line-through;
  margin-left: 14px;
}

.btn {
  text-align: center;
  color: #fff;
  background-color: hsl(158, 36%, 37%);
  padding: 14px;
  border-radius: 8px;
  font-weight: bold;
}

.add::before {
  content: url(images/icon-cart.svg);
  position: relative;
  top: 2px;
  right: 10px;
}

.btn:hover {
  background-color: #1a4032;
}

.attribution {
 background-color: hsl(30, 38%, 92%);
  font-size: 11px;
  text-align: center;
  padding: 20px 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 768px) {
  main {
    padding: 200px 0;
  }
  .card {
    display: flex;
    width: 600px;
    max-height: 450px;
  }

  .img {
    height: 100%;
    width: 50%;
    background-image: url(images/image-product-desktop.jpg);
    border-radius: 8px 0 0 8px;
  }
  .txt {
    width: 50%;
    height: 100%;
    padding: 30px;
  }
}
